# Import

In [4]:
import pandas as pd

data = pd.read_excel("historico dolar.xlsx")
data = data[::-1]
data.reset_index(drop = True, inplace = True)
data

,Data,Abertura,Máxima,Mínima,Fechamento,Prior Cote Ajuste
0,2012-04-02 09:00:00,1854.0,1856.0,1852.0,1856.0,1822.10
1,2012-04-03 09:00:00,1856.0,1856.0,1856.0,1856.0,1842.79
2,2012-04-04 09:00:00,1854.0,1854.0,1852.0,1852.0,1841.42
3,2012-04-09 09:00:00,1840.0,1840.0,1840.0,1840.0,1837.99
4,2012-04-10 09:00:00,1850.0,1850.0,1850.0,1850.0,1827.46
...,...,...,...,...,...,...
3099,2025-04-25 09:00:00,5705.5,5712.0,5669.0,5691.5,5688.67
3100,2025-04-28 09:00:00,5700.0,5702.5,5648.0,5657.0,5691.50
3101,2025-04-29 09:00:00,5661.5,5664.0,5614.0,5615.5,5654.47
3102,2025-04-30 09:00:00,5663.0,5727.0,5644.5,5710.5,5633.54
3103,2025-05-02 09:00:00,5710.0,5715.0,5664.0,5695.0,5704.00

# Quantidade de vezes que vem buscar o Ajuste do dia anterior

In [5]:
data['Prior Cote Ajuste'] = data['Prior Cote Ajuste'].shift(1)
data.dropna(inplace = True)
data.reset_index(drop = True, inplace = True)
data

,Data,Abertura,Máxima,Mínima,Fechamento,Prior Cote Ajuste
0,2012-04-03 09:00:00,1856.0,1856.0,1856.0,1856.0,1822.10
1,2012-04-04 09:00:00,1854.0,1854.0,1852.0,1852.0,1842.79
2,2012-04-09 09:00:00,1840.0,1840.0,1840.0,1840.0,1841.42
3,2012-04-10 09:00:00,1850.0,1850.0,1850.0,1850.0,1837.99
4,2012-04-11 09:00:00,1850.0,1852.0,1850.0,1852.0,1827.46
...,...,...,...,...,...,...
3098,2025-04-25 09:00:00,5705.5,5712.0,5669.0,5691.5,5718.24
3099,2025-04-28 09:00:00,5700.0,5702.5,5648.0,5657.0,5688.67
3100,2025-04-29 09:00:00,5661.5,5664.0,5614.0,5615.5,5691.50
3101,2025-04-30 09:00:00,5663.0,5727.0,5644.5,5710.5,5654.47
3102,2025-05-02 09:00:00,5710.0,5715.0,5664.0,5695.0,5633.54

In [6]:
data = data.tail(252)
data.reset_index(drop = True, inplace = True)
contador = 0
for x in range(0,data.shape[0]):
    if data['Máxima'].iloc[x] >=data['Prior Cote Ajuste'].iloc[x]  and  data['Prior Cote Ajuste'].iloc[x] >=data['Mínima'].iloc[x]:
        contador+= 1

print(f'Probabilidade de vir buscar o Ajuste do dia anterior: {contador/data.shape[0]:.2%}')

Probabilidade de vir buscar o Ajuste do dia anterior: 46.03%

# Se abriu acima do fechamento

In [7]:
data = data.tail(252)
data.reset_index(drop = True, inplace = True)
contador = 0
for x in range(0,data.shape[0]):
    try:
        if (data['Máxima'].iloc[x] >=data['Prior Cote Ajuste'].iloc[x])and\
         ( data['Prior Cote Ajuste'].iloc[x] >=data['Mínima'].iloc[x])and\
         (data['Abertura'].iloc[x] >=data['Fechamento'].iloc[x-1]):
            contador+= 1
    except:
        continue

print(f'Probabilidade de vir buscar o Ajuste do dia anterior: {contador/data.loc[data['Abertura'] <=data['Fechamento'].shift(1)].shape[0]:.2%}')

Probabilidade de vir buscar o Ajuste do dia anterior: 48.06%

# Se abriu abaixo

In [8]:
data = data.tail(252)
data.reset_index(drop = True, inplace = True)
contador = 0
for x in range(0,data.shape[0]):
    try:
        if (data['Máxima'].iloc[x] >=data['Prior Cote Ajuste'].iloc[x])and\
         ( data['Prior Cote Ajuste'].iloc[x] >=data['Mínima'].iloc[x])and\
         (data['Abertura'].iloc[x] <=data['Fechamento'].iloc[x-1]):
            contador+= 1
    except:
        continue

print(f'Probabilidade de vir buscar o Ajuste do dia anterior: {contador/data.loc[data['Abertura'] <=data['Fechamento'].shift(1)].shape[0]:.2%}')

Probabilidade de vir buscar o Ajuste do dia anterior: 44.19%

# Sem não romper a máxima

In [9]:
data = data.tail(252)
data.reset_index(drop = True, inplace = True)
contador = 0
for x in range(0,data.shape[0]):
    try:
        if (data['Máxima'].iloc[x] >=data['Prior Cote Ajuste'].iloc[x])and\
         ( data['Prior Cote Ajuste'].iloc[x] >=data['Mínima'].iloc[x])and\
         (data['Abertura'].iloc[x] <=data['Fechamento'].iloc[x-1])and\
        (data['Máxima'].iloc[x] <=data['Máxima'].iloc[x-1]):
            contador+= 1
    except:
        continue

print(f'Probabilidade de vir buscar o Ajuste do dia anterior: {contador/data.loc[(data['Abertura']<=data['Fechamento'].shift(1)) & (data['Máxima'] <=data['Máxima'].shift(1))].shape[0]:.2%}')

Probabilidade de vir buscar o Ajuste do dia anterior: 38.36%

# Se não romper a mínima

In [10]:
data = data.tail(252)
data.reset_index(drop = True, inplace = True)
contador = 0
for x in range(0,data.shape[0]):
    try:
        if (data['Máxima'].iloc[x] >=data['Prior Cote Ajuste'].iloc[x])and\
         ( data['Prior Cote Ajuste'].iloc[x] >=data['Mínima'].iloc[x])and\
         (data['Abertura'].iloc[x] <=data['Fechamento'].iloc[x-1])and\
        (data['Mínima'].iloc[x] >=data['Mínima'].iloc[x-1]):
            contador+= 1
    except:
        continue

print(f'Probabilidade de vir buscar o Ajuste do dia anterior: {contador/data.loc[(data['Abertura']<=data['Fechamento'].shift(1)) &(data['Mínima'] >=data['Mínima'].shift(1))].shape[0]:.2%}')

Probabilidade de vir buscar o Ajuste do dia anterior: 41.82%